<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".UpAgainApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/upagain_logo"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        android:roundIcon="@drawable/upagain_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.UpAgain">
        <meta-data
            android:name="androidx.appcompat.app.AppCompatDelegate. some_attribute"
            android:value="true" />
        <activity
            android:name=".feat.error.NoConnectionActivity"
            android:exported="false" />
        <activity
            android:name=".feat.error.ErrorActivity"
            android:exported="false" />
        <activity
            android:name=".feat.auth.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".feat.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.UpAgain">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>